nav
  ul.navbar
    li
      a(href='') Kiipeilyareena
      ul
        li
          a(href='/places/salmisaari.pug') Salmisaari
        li
          a(href='/places/kalasatama.pug') Kalasatama
    li
      a(href='') Boulderkeskus
      ul
        li
          a(href='places/espoo.pug') Espoo
        li
          a(href='places/konala.pug') Konala
        li
          a(href='places/pasila.pug') Pasila
        li
          a(href='places/herttoniemi.pug') Herttoniemi
    li(style='float:right')
      a.login(href='login') Log in
