nav
  ul.navbar
    li
      a(href='') Kiipeilyareena
      ul
        li
          a(href='/salmisaari') Salmisaari
        li
          a(href='/kalasatama') Kalasatama
    li
      a(href='') Boulderkeskus
      ul
        li
          a(href='/espoo') Espoo
        li
          a(href='/konala') Konala
        li
          a(href='/pasila') Pasila
        li
          a(href='/herttoniemi') Herttoniemi
    li(style='float:right')
      a.login(href='login') Log in
