nav
  ul.navbar
    li
      a(href='/home') Home
    li
      a(href='') Kiipeilyareena
      ul
        li
          a(href='/location/salmisaari') Salmisaari
        li
          a(href='/location/kalasatama') Kalasatama
    li
      a(href='') Boulderkeskus
      ul
        li
          a(href='/location/espoo') Espoo
        li
          a(href='/location/konala') Konala
        li
          a(href='/location/pasila') Pasila
        li
          a(href='/location/herttoniemi') Herttoniemi
    li(style='float:right')
      a.login(href='login') Log in
    li(style='float:right')
      a.login(href='file/delete') Delete post
    li(style='float:right')
      a.login(href='file/edit') Edit post
