extends layout
block content
  .map
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8702.173943023814!2d24.854832255153802!3d60.23650014627691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468df646f8f4b069%3A0x8bd391955fcb1496!2sBoulderkeskus+Konala!5e0!3m2!1sfi!2sfi!4v1554993018260!5m2!1sfi!2sfi', width='400', height='250', frameborder='0', style='border:0', allowfullscreen='')
  form(action='', method='post', enctype='multipart/form-data')
  