extends layout
block content
  .map
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.9118479670099!2d24.901136516106238!3d60.16563818195919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920a464b4215e9%3A0xf0749b861caf6173!2sKiipeilyareena+-+Salmisaari!5e0!3m2!1sfi!2sfi!4v1554990951481!5m2!1sfi!2sfi', width='400', height='250', frameborder='0', style='border:0', allowfullscreen='')
  form(action='', method='get', enctype='multipart/form-data')